$primary: rgb(0, 108, 76);
$surface-tint: rgb(0, 108, 76);
$on-primary: rgb(255, 255, 255);
$primary-container: rgb(54, 203, 151);
$on-primary-container: rgb(0, 47, 31);
$secondary: rgb(56, 104, 83);
$on-secondary: rgb(255, 255, 255);
$secondary-container: rgb(190, 242, 215);
$on-secondary-container: rgb(35, 83, 63);
$tertiary: rgb(75, 86, 174);
$on-tertiary: rgb(255, 255, 255);
$tertiary-container: rgb(164, 174, 255);
$on-tertiary-container: rgb(12, 26, 117);
$error: rgb(186, 26, 26);
$on-error: rgb(255, 255, 255);
$error-container: rgb(255, 218, 214);
$on-error-container: rgb(65, 0, 2);
$background: rgb(244, 251, 245);
$on-background: rgb(22, 29, 25);
$surface: rgb(244, 251, 245);
$on-surface: rgb(22, 29, 25);
$surface-variant: rgb(215, 230, 220);
$on-surface-variant: rgb(60, 74, 66);
$outline: rgb(108, 122, 114);
$outline-variant: rgb(187, 202, 192);
$shadow: rgb(0, 0, 0);
$scrim: rgb(0, 0, 0);
$inverse-surface: rgb(43, 50, 46);
$inverse-on-surface: rgb(235, 243, 236);
$inverse-primary: rgb(80, 222, 168);
$primary-fixed: rgb(112, 251, 195);
$on-primary-fixed: rgb(0, 33, 21);
$primary-fixed-dim: rgb(80, 222, 168);
$on-primary-fixed-variant: rgb(0, 81, 57);
$secondary-fixed: rgb(186, 238, 211);
$on-secondary-fixed: rgb(0, 33, 21);
$secondary-fixed-dim: rgb(159, 210, 184);
$on-secondary-fixed-variant: rgb(31, 79, 60);
$tertiary-fixed: rgb(223, 224, 255);
$on-tertiary-fixed: rgb(0, 12, 97);
$tertiary-fixed-dim: rgb(188, 194, 255);
$on-tertiary-fixed-variant: rgb(50, 62, 148);
$surface-dim: rgb(212, 220, 214);
$surface-bright: rgb(244, 251, 245);
$surface-container-lowest: rgb(255, 255, 255);
$surface-container-low: rgb(238, 245, 239);
$surface-container: rgb(232, 240, 233);
$surface-container-high: rgb(227, 234, 228);
$surface-container-highest: rgb(221, 228, 222);

// .light 클래스 정의
.light {
  --primary: #{$primary};
  --surface-tint: #{$surface-tint};
  --on-primary: #{$on-primary};
  --primary-container: #{$primary-container};
  --on-primary-container: #{$on-primary-container};
  --secondary: #{$secondary};
  --on-secondary: #{$on-secondary};
  --secondary-container: #{$secondary-container};
  --on-secondary-container: #{$on-secondary-container};
  --tertiary: #{$tertiary};
  --on-tertiary: #{$on-tertiary};
  --tertiary-container: #{$tertiary-container};
  --on-tertiary-container: #{$on-tertiary-container};
  --error: #{$error};
  --on-error: #{$on-error};
  --error-container: #{$error-container};
  --on-error-container: #{$on-error-container};
  --background: #{$background};
  --on-background: #{$on-background};
  --surface: #{$surface};
  --on-surface: #{$on-surface};
  --surface-variant: #{$surface-variant};
  --on-surface-variant: #{$on-surface-variant};
  --outline: #{$outline};
  --outline-variant: #{$outline-variant};
  --shadow: #{$shadow};
  --scrim: #{$scrim};
  --inverse-surface: #{$inverse-surface};
  --inverse-on-surface: #{$inverse-on-surface};
  --inverse-primary: #{$inverse-primary};
  --primary-fixed: #{$primary-fixed};
  --on-primary-fixed: #{$on-primary-fixed};
  --primary-fixed-dim: #{$primary-fixed-dim};
  --on-primary-fixed-variant: #{$on-primary-fixed-variant};
  --secondary-fixed: #{$secondary-fixed};
  --on-secondary-fixed: #{$on-secondary-fixed};
  --secondary-fixed-dim: #{$secondary-fixed-dim};
  --on-secondary-fixed-variant: #{$on-secondary-fixed-variant};
  --tertiary-fixed: #{$tertiary-fixed};
  --on-tertiary-fixed: #{$on-tertiary-fixed};
  --tertiary-fixed-dim: #{$tertiary-fixed-dim};
  --on-tertiary-fixed-variant: #{$on-tertiary-fixed-variant};
  --surface-dim: #{$surface-dim};
  --surface-bright: #{$surface-bright};
  --surface-container-lowest: #{$surface-container-lowest};
  --surface-container-low: #{$surface-container-low};
  --surface-container: #{$surface-container};
  --surface-container-high: #{$surface-container-high};
  --surface-container-highest: #{$surface-container-highest};
}

.dark {
  --primary: rgb(83 225 171);
  --surface-tint: rgb(80 222 168);
  --on-primary: rgb(0 56 38);
  --primary-container: rgb(11 182 132);
  --on-primary-container: rgb(0 25 15);
  --secondary: rgb(159 210 184);
  --on-secondary: rgb(1 56 38);
  --secondary-container: rgb(22 72 53);
  --on-secondary-container: rgb(173 224 198);
  --tertiary: rgb(193 199 255);
  --on-tertiary: rgb(24 37 125);
  --tertiary-container: rgb(143 155 247);
  --on-tertiary-container: rgb(0 9 83);
  --error: rgb(255 180 171);
  --on-error: rgb(105 0 5);
  --error-container: rgb(147 0 10);
  --on-error-container: rgb(255 218 214);
  --background: rgb(14 21 17);
  --on-background: rgb(221 228 222);
  --surface: rgb(14 21 17);
  --on-surface: rgb(221 228 222);
  --surface-variant: rgb(60 74 66);
  --on-surface-variant: rgb(187 202 192);
  --outline: rgb(134 148 139);
  --outline-variant: rgb(60 74 66);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(221 228 222);
  --inverse-on-surface: rgb(43 50 46);
  --inverse-primary: rgb(0 108 76);
  --primary-fixed: rgb(112 251 195);
  --on-primary-fixed: rgb(0 33 21);
  --primary-fixed-dim: rgb(80 222 168);
  --on-primary-fixed-variant: rgb(0 81 57);
  --secondary-fixed: rgb(186 238 211);
  --on-secondary-fixed: rgb(0 33 21);
  --secondary-fixed-dim: rgb(159 210 184);
  --on-secondary-fixed-variant: rgb(31 79 60);
  --tertiary-fixed: rgb(223 224 255);
  --on-tertiary-fixed: rgb(0 12 97);
  --tertiary-fixed-dim: rgb(188 194 255);
  --on-tertiary-fixed-variant: rgb(50 62 148);
  --surface-dim: rgb(14 21 17);
  --surface-bright: rgb(52 59 54);
  --surface-container-lowest: rgb(9 16 12);
  --surface-container-low: rgb(22 29 25);
  --surface-container: rgb(26 33 29);
  --surface-container-high: rgb(37 44 40);
  --surface-container-highest: rgb(47 54 50);
}
