.greeting-title {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  color: var(--mantine-color-blueGray-9);

  .name {
    color: var(--mantine-color-paleBlue-6);
  }
}

.greeting-container {
  display: flex;
  justify-content: center;

  margin: 0 12rem;
  padding: 0;
}

.greeting-image-div {
  width: 30%;

  .greeting-image {
    background-color: var(--mantine-color-blueGray-1);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background: var(--mantine-color-blueGray-1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}

.greeting-section {
  margin: 0;
  padding: 2rem 2.5rem 0;

  width: 60%;
  word-wrap: break-word;

  .greeting-sub-div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .greeting-description-text {
    padding-top: 2rem;
  }
}

.greeting-button-div {
  display: flex;
  justify-content: center;
}

.greeting-button {
  margin: 1.5rem 0.5rem;
}
