.education-section {
  margin: 5rem;

  .title {
    text-align: center;
  }

  .timeline-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
  }

  .grid-inner {
    margin: 0;
  }

  .grid-col {
    padding: 0 5rem 0 0;
  }
}
