.skill-section {
  margin: 5rem;
}

.paper {
  background-color: lightblue;
  margin-top: 2rem;
  padding: 2rem;
}

.skill-grid-column {
  display: flex;
  align-items: center;
}

.grid-row {
  display: flex;
}
