.skill-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 3rem 5rem;
  padding-top: 5rem;
}

.skill-grid {
  margin: 0 12rem;

  .column {
    margin: 0;
    padding: 0;
  }
}

.skill-paper {
  background-color: var(--mantine-color-paleBlue-1);
  height: 14rem;
  margin: 0.5rem;

  .text {
    color: var(--mantine-color-blueGray-7);
    text-align: center;
  }
}

.skill-badge-container {
  margin: 0.5rem 0;

  .skill-badge {
    color: var(--mantine-color-paleBlue-7);
    font-weight: 600;
    display: inline-flex;
    padding: 0.8rem;
    margin: 0 0.1rem 0.4rem 0;
  }
}
