%h1 {
  font-size: 4rem;
  font-weight: light;
  letter-spacing: -0.0938rem;
}

%h2 {
  font-size: 3.5rem;
  font-weight: light;
  letter-spacing: -0.0313rem;
}

%h3 {
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: -0.0938rem;
}

%h4 {
  font-size: 2.125rem;
  font-weight: normal;
  letter-spacing: -0.0156rem;
}

%h5 {
  font-size: 1.5rem;
  font-weight: normal;
}

%h6 {
  font-size: 1.25rem;
  font-weight: medium;
  letter-spacing: 0.0094rem;
}

%subtitle1 {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.0094rem;
}

%subtitle2 {
  font-size: 0.875rem;
  font-weight: medium;
  letter-spacing: 0.0063rem;
}

%body1 {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.0094rem;
}

%body2 {
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 0.0156rem;
}

%button {
  font-size: 0.875rem;
  font-weight: medium;
  letter-spacing: 0.0781rem;
}

%caption {
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: 0.025rem;
}
